<footer>
  <div class="footer-info">
    <div class="company">&copy; MoviesVilla Private Ltd.</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
